// Place all the styles related to the Song controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-size: 1.6em;
  margin-top: 3px;
}

nav a.center {
  text-align: center;
  margin: 0 auto;
  color: green;
  display: block;
}

#get-song {
  position: relative;
  text-align: center;
  top: 140px;
  font-size: 0.8em;
    text-decoration: none;

}

#get-song:visited {
  text-decoration: none;
}

#get-song:hover{
  text-decoration: none;
}



#get-song:active {
  text-decoration: none;
}



#about-link {
  margin-top: 28px;
  font-size: 0.8em;
  padding: 10px;
  border: 1px solid green;
  padding-right: 76px;
}

.about{
  margin-top: 100px;
  line-height: 1.1em;
  font-size: 0.4em;
}
.about-reset {
  margin-top: 20px;
}
.about-link {
  font-size: inherit;
}

#seed-word {
  margin-top: 7px;
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid black;
}

.listening-info {
  margin: 100px 0 40px 0;
}
#play-again-link {
  margin-bottom: 40px;
  font-size: 1em;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

h3 {
  font-size: 1em;
}

.grey {
  color: #484848;
}

#table-header {
  font-size: 0.3em;
}

#recently-played-txt {
  margin: 65px 0px 20px;
  font-weight: inherit;
  color: green;
}

.history {
  font-size: 0.22em;
}

.smaller-font {
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -9px;
}